﻿.show-blurred
{
	color:#555555 !important;
	margin-top:-3px;
	margin-left:-3px;
}

p.footer
{
	height:12px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:4px;
	background-color:#DDDDDD;
	border-top:1px solid #808080;
	opacity:0.75;
	filter:alpha(opacity=75);
	z-index:200;
	font-size:10px;
	line-height:12px;
	width:100%;
	margin-bottom:0px !important;
}

.hide-ie8,
.hide-ie8 > *
{
	display:none !important;
}
