﻿div#__asptrace
{
	left: 16.5%;
	position: absolute;
	top: 100%;
	width: 82.6%;
	z-index: 5;
}

html
{
	height: 100%;
}

body
{
	/*padding-bottom:40px;
	padding-top:60px;*/
	min-height:100%;
	position:relative;
}

#bodywrapper
{
	height:100%;
	padding-bottom:26px;
	padding-top:40px
}

@media print 
{
	#bodywrapper
	{
		padding-bottom:0px;
		padding-top:0px
	}
}

body>#bodywrapper{height:auto;min-height:100%;}

@media (max-width: 767px) {
	#bodywrapper
	{
		padding-bottom:0;
	}
}

.body-background
{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 30px;
	z-index: 0;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #efdfbc 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efdfbc), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #efdfbc 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #efdfbc 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #efdfbc 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #efdfbc 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdfbc', endColorstr='#ffffff',GradientType=0 );
}

.body-shade
{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    bottom: 0;
    float: left;
    margin-bottom: 32px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    top: 48px;
    z-index: 2;
    left: 16.5%;
    width: 83.15%;
}

@media (min-width: 1200px) 
{
	.body-shade
	{
		width:82.6%;
	}
}

@media (min-width: 768px) and (max-width: 979px) 
{    
	.body-shade
	{
		top:54px;
		width:82.3%;
	}
}

@media (max-width: 768px)
{    
	.body-shade
	{
		display:none;
	}
}

.waiting-screen
{
	z-index:9999;
	float:left;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.waiting-screen > .blocking-screen
{
	z-index:5000;
	float:left;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-color:#C0C0C0;
	width:100%;
	height:100%;
}

/*
.div-loading
{
	z-index:5001;
	float:left;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}*/

.waiting-screen > .waiting-image
{
	float:left;
	position:absolute;
	top:50%;
	left:50%;
}

.waiting-screen > .waiting-image > div
{
	position:relative;
	top:-16px;
	left:-16px;
	width:32px;
	height:32px;
	background:transparent url(../img/loading_standard.gif) no-repeat;
}

.watermark
{
	opacity:0.1;
	bottom: 0;
	display: block;
	float: left;
	height: 550px;
	left: 0;
	position: fixed;
	width: 473px;
	z-index: 1;
    font-size:500px;
    color:#cc8e00;
}

footer
{
	height:12px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:4px;
	background-color:#DDDDDD;
	border-top:1px solid #808080;
	opacity:0.75;
	filter:alpha(opacity=75);
	z-index:9000;
	font-size:10px;
	line-height:12px;
}
			
@media (max-width: 767px) {
	footer
	{
		display:none;
	}
}
